$color-font: #eee;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin size($w: 100%, $h: $w) {
  width: $w;
  height: $h;
}

@mixin shadow {
  box-shadow: 0 8px 16px rgba(black, 0.3);
}
