@import "../../assets/styles.scss";

.preview {
  width: 100%;
  text-align: center;

  .image-container {
    max-width: 375px;
    margin: 0 auto 24px auto;

    img {
      display: block;
      width: 100%;
      @include shadow;
    }

    button {
      border-radius: 50%;
      @include size(38px);
      padding: 0;
    }

    .btn-cross {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }

    .btn-download {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translate(-50%, 50%);
    }
  }

  .filters-container {
    display: flex;
    overflow-x: scroll;

    figure {
      margin: 8px;
      min-width: 120px;
      cursor: pointer;

      transition: transform 0.3s;

      &:hover,
      &.selected {
        transform: translateY(-3px);

        figcaption {
          background-color: rgba(black, 0.8);
        }
      }

      img {
        width: 100%;
        margin-bottom: 16px;
        @include shadow;
      }

      figcaption {
        transition: background-color 0.5s;
      }
    }
  }
}
