name: Deploy Demo

on:
  push:
    tags:
      - "**"
  workflow_dispatch:

concurrency:
  group: "pages-demo"
  cancel-in-progress: false

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - uses: pnpm/action-setup@v4
      - name: Install and build
        run: |
          pnpm i --frozen-lockfile
          pnpm build
          cd demo
          pnpm i --frozen-lockfile
          pnpm build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./demo/dist
