name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - uses: pnpm/action-setup@v4
      - name: Install and test
        run: |
          pnpm i --frozen-lockfile
          pnpm lint
          pnpm typecheck
          pnpm test
          pnpm build
      - name: Build demo
        run: |
          cd demo
          pnpm i
          pnpm lint
          pnpm build
