name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - uses: pnpm/action-setup@v4
      - run: |
          pnpm i
          pnpm test
          pnpm build
      - name: Build demo
        run: |
          cd demo
          pnpm i
          pnpm build
